@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@702&family=Roboto&display=swap');

html,
body {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

.navcontainer {
  min-height: 60vh;
  padding: 0 2rem;
  background-color: #060666;
  color: #FFFFFF;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.ourcompany {
  max-width: 70%;
}
